.advantages {
  background-color: #F8F9FC;
}

.advantages__container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding: 146px 183px 91px;
}

.advantages__subtitle {
  @extend %alumni-600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: calc(1em / 33.3);
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  margin-left: 10px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 60px;
}

.advantages__item {
  display: flex;
}

.advantages__item--main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  max-width: 240px;
  background-color: #1C3374;
  color: #ffffff;
  flex-direction: column;
  padding: 66px 34px 58px;
  align-items: center;
}

.advantages__item--bottom {
  align-items: flex-end;
  border-top: 2px solid rgba(209, 10, 66, 0.2);
}

.advantages__item-value-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.advantages__item-value {
  display: inline-block;
  @extend %roboto-700;
  font-size: 71px;
  line-height: 55px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(142.51deg, #D10A42 0%, #0041CA 87.33%);
  background-clip: text;
}

.advantages_-item-name {
  display: inline-block;
  @extend %roboto-400;
  font-size: 14px;
  line-height: 21px;
  color: #2E35AC;
  margin-top: 2px;
}

.advantages__item-subtitle {
  @extend %roboto-700;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 10px;
}

.advantages__item-description {
  margin: 0;
  font-size: 15px;
}

.advantages__item--main .advantages__item-value {
  background: none;
  -webkit-text-fill-color: unset;
  font-size: 74px;
  line-height: 50px;
  margin-bottom: 22px;
}

.advantages__item--main .advantages__item-text {
  text-align: center;
}

.advantages__item--main .advantages__item-subtitle {
  margin-bottom: 45px;
  font-size: 26px;
}

.advantages__item--main .advantages__item-value-wrapper {
  margin-right: 0;
}

@media (max-width: 1199.9px) {
  .advantages__container {
    padding: 90px 45px 100px;
  }

  .advantages__subtitle {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 43px;
    margin-right: 30px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 239px 1fr;
    column-gap: 30px;
    row-gap: 40px;
  }

  .advantages__item--main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: unset;
    padding: 45px 0 45px;
    margin: 0 118px;
  }

  .advantages__item--bottom {
    margin-top: 3px;
    align-items: flex-end;
    border-top: none;
  }

  .advantages__item-value-wrapper {
    margin-right: 29px;
  }

  .advantages__item-value {
    font-size: 58px;
  }

  .advantages_-item-name {
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
  }

  .advantages__item-subtitle {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .advantages__item--main .advantages__item-value {
    font-size: 74px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .advantages__item--main .advantages__item-text {
    text-align: center;
  }

  .advantages__item--main .advantages__item-subtitle {
    margin-bottom: 22px;
    font-size: 22px;
  }

  .advantages__item--main .advantages__item-description {
    margin: 0 135px;
  }
}

@media (max-width: 767.9px) {
  .advantages__container {
    padding: 70px 0px;
  }

  .advantages__subtitle {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 45px;
    margin-right: 30px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: unset;
    row-gap: 35px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .advantages__item--main {
    padding: 50px 0 45px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .advantages__item-value-wrapper {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .advantages__item-description {
    margin: 0 53px;
    font-size: 15px;
  }

  .advantages__item--main .advantages__item-value {
    font-size: 74px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .advantages__item--main .advantages__item-text {
    text-align: center;
  }

  .advantages__item--main .advantages__item-subtitle {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .advantages__item--main .advantages__item-description {
    margin: 0 74px;
  }
}
